[Unit]
Description=Service for running the CSLICS camera
After=network.target

[Service]
User=$USER
Group=users
WorkingDirectory=/opt/cslics/cslics_ref_raas_vision_processor/
ExecStart=python3 client_vision_processor.py --broker-host $CSLICS_HOST --models-path /home/$USER/cslics_config/models/ --image-source PICAM --process-conf-path /home/$USER/cslics_config/camera_process_config.json --config-file-path /home/$USER/cslics_config/camera_config_seasim_rm9_2024.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
